.nav {
  display: block;
  width: 100%;
  box-shadow: 0px 1px 1px rgba(43, 43, 43, 0.12);
  @media screen and (max-width: 768px) {
    box-shadow: none;
  }
}

.container {
  display: flex;
  outline: none;
  align-items: center;
  height: 90px;
  border: none;
  @media screen and (max-width: 768px) {
    height: 70px;
  }
}

.caret {
  fill: #444444;
  transition: fill 0.1s linear;
}

.navLink {
  display: inline-flex;
  align-self: stretch;
  align-items: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #2b2b2b;
  transition: color 0.1s linear;
}

.logo {
  margin-right: 40px;
}

.list {
  align-self: stretch;
  list-style-type: none;
  display: flex;
  flex-grow: 1;
  margin: 0 70px 0 auto;
  justify-content: space-between;
  padding: 0;
  @media screen and (max-width: 768px) {
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    margin: 30px 0 0 0;
  }
}

.item {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  color: #444444;
  font-size: 16px;
  font-weight: 500;
  &:first-child {
    margin-left: 0;
  }
  @media screen and (max-width: 768px) {
    padding: 10px;
  }
}

.hamburger {
  display: inline-flex;
  margin-right: 15px;

  @media screen and (max-width: 1200px) {
  }
}

.user {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: #6f74fc;
  border-radius: 100%;
}

.svg {
  fill: #f2f4f8;
}

.mobileNav {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.buttons {
  position: fixed;
  top: 20px;
  right: 0;
  z-index: 101;
  display: inline-flex;
  margin-left: auto;
  align-items: center;
}
