.multiSelect {
  position: relative;
  display: inline-flex;
  flex-direction: column;
  width: 100%;
}

.select {
  position: relative;
  display: inline-flex;
  flex-direction: column;
  width: auto;
}
