.projects {
  display: block;
}

.tabs {
  margin-top: 40px;
  @media screen and (max-width: 768px) {
    margin: 30px auto 0 auto;
  }
}

.swiper {
  position: relative;
  padding: 10px;
  margin: 12px -10px -10px -10px;
}

.swiperSlide {
  background-color: transparent;
}

.card {
  padding: 15px;
}

.desc {
  margin: 10px 0 0 0;
  display: block;
  font-size: 14px;
  line-height: 140%;
  text-align: center;
  color: #7d7d7e;
  @media screen and (max-width: 768px) {
    font-size: 14px;
    line-height: 140%;
  }
}

.btn {
  margin: 40px auto 0 auto;
}
