.controls {
  margin-top: 38px;
  display: flex;
  width: 50%;
}

.main {
  padding-top: 60px;
}

.footer {
  margin-top: 90px;
}

.input {
  margin-right: 15px;
}

.item {
  display: flex;
  align-items: stretch;
}

.cardWrapper {
  display: inline-flex;
  align-items: stretch;
}
