.controls {
  margin-top: 38px;
  display: flex;
  width: 50%;
  @media screen and (max-width: 768px) {
    width: 100%;
    flex-direction: column-reverse;
  }
}

.footer {
  margin-top: 90px;
}

.input {
  margin-right: 15px;
  @media screen and (max-width: 768px) {
    margin-top: 16px;
    width: 100%;
  }
}

.item {
  display: flex;
  align-items: stretch;
}

.cardWrapper {
  display: inline-flex;
  align-items: stretch;
}
