.labs {
  display: block;
  position: relative;
}

.swiper {
  position: relative;
  padding: 10px;
  margin: 12px -10px -10px -10px;
}

.swiperSlide {
  background-color: transparent;
}

.desc {
  font-size: 14px;
  line-height: 140%;
  text-align: center;
  color: #7d7d7d;
}

.panel {
  margin-top: auto;
  white-space: nowrap;
  width: 100%;
  padding: 20px 34px;
  display: inline-flex;
  background-color: #f2f4f8;
  border-radius: 30px;
}

.btn {
  margin: 40px auto 0 auto;
}
