.main {
  padding: 60px 0 90px 0;
  display: block;
}

.h1 {
  width: 500px;
  display: block;
  font-weight: 600;
  font-size: 42px;
  line-height: 120%;
  color: #2b2b2b;
}

.desc {
  width: 600px;
  display: block;
  font-size: 20px;
  line-height: 120%;
  color: #555555;
}

.container {
  position: relative;
}

.btn {
  margin-top: 70px;
}

.image {
  position: absolute;
  top: 0;
  right: 0;
}
