.cards {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 30px;
}

.desc {
  margin: 15px 0 0 0;
  font-size: 14px;
  line-height: 140%;
  text-align: center;
  color: #7d7d7d;
}
