.main {
  padding: 60px 0 0 0;
  display: block;
}

.card {
  position: relative;
  padding: 30px;
  margin: 40px 0;
  background-position: 100% 100%;
  background-repeat: no-repeat;
}

.desc {
  margin: 0;
  min-height: 300px;
  width: 700px;
  font-size: 20px;
  line-height: 140%;
  color: #555555;
}

.btn {
  display: inline-flex;
  margin: 40px auto 0 0;
}

.image {
  position: absolute;
  bottom: 60px;
  right: 15px;
}
