.partners {
  display: block;
  padding: 50px 0;
}

.card {
  position: relative;
  padding: 30px;
  background: linear-gradient(
    90deg,
    rgba(137, 85, 253, 0.3) 0%,
    rgba(84, 148, 251, 0.3) 100%
  );
}

.desc {
  max-width: 700px;
  margin: 15px 0 0 0;
  display: block;
  font-size: 20px;
  line-height: 140%;
  color: #555555;
}

.btn {
  margin: 35px auto 0 0;
}

.img {
  position: absolute;
  top: 50%;
  right: 10%;
  transform: translateY(-50%);
}
