.grid {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 30px;
  row-gap: 30px;
  @media screen and (max-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
  }
}

// .link {
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   width: 100%;
// }

.main {
  padding-top: 60px;
}

.disclosure {
  display: block;
  margin-top: 45px;
  &:first-child {
    margin-top: 0;
  }
}

.footer {
  margin-top: 90px;
}
