.grid {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 30px;
  row-gap: 30px;
}

.main {
  padding-top: 60px;
}

.disclosure {
  display: block;
  margin-top: 45px;
  &:first-child {
    margin-top: 0;
  }
}

.footer {
  margin-top: 90px;
}
