.contracts {
  display: block;
}

.card {
  margin-top: 30px;
  flex-direction: row;
  position: relative;
  padding: 30px;
  @media screen and (max-width: 768px) {
    flex-direction: column;
    padding-bottom: 0;
  }
}

.info {
  display: inline-flex;
  flex-direction: column;
}

.h3 {
  display: block;
  margin: 0;
  font-weight: 500;
  font-size: 24px;
  line-height: 120%;
  color: #2b2b2b;
  @media screen and (max-width: 768px) {
    text-align: center;
  }
}

.social {
  @media screen and (max-width: 768px) {
    margin: 20px auto 14px auto;
  }
}

.image {
  display: flex;
  position: absolute;
  left: 30px;
  bottom: 0;
  @media screen and (max-width: 768px) {
    margin-top: auto;
    position: static;
    margin: 30px auto 0 auto;
  }
}

.map {
  outline: none;
  overflow: hidden !important;
  display: flex;
  margin: auto 0 auto auto;
  overflow: hidden;
  border: 1px solid #6f74fc;
  border-radius: 30px;
  @media screen and (max-width: 768px) {
    width: 100%;
  }
}

.yandexHref {
  color: #eee;
  font-size: 12px;
  position: absolute;
  top: 0px;
}

.yandexLabel {
  color: #eee;
  font-size: 12px;
  position: absolute;
  top: 14px;
}

.iframe {
  border-radius: 30px;
  overflow: hidden;
  border: none;
}
