.desc {
  margin: 15px 0 0 0;
  font-size: 14px;
  line-height: 140%;
  color: #555555;
}

.card {
  padding-bottom: 30px;
  transition: transform 0.1s linear;
  &:hover {
    transform: translateY(-3px);
  }
  @media screen and (max-width: 768px) {
    transition: none;
    &:hover {
      transform: none;
    }
  }
}

.content {
  padding: 0 15px;
}
