.container {
  padding-top: 60px;
  @media screen and (max-width: 768px) {
    padding-top: 20px;
  }
}

.h1 {
  width: 70%;
  line-height: 120%;
  @media screen and (max-width: 768px) {
    width: 100%;
    font-weight: 600;
    font-size: 24px;
    line-height: 120%;
  }
}

.desc {
  width: 70%;
  margin: 5px 0 40px 0;
  padding: 0;
  display: block;
  font-size: 20px;
  line-height: 140%;
  color: #555555;
  @media screen and (max-width: 768px) {
    margin: 13px 0 0 0;
    width: 100%;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
  }
}

.h3 {
  font-weight: normal;
  font-size: 20px;
  line-height: 120%;
  color: #2b2b2b;
  display: block;
  margin-top: 30px;
  @media screen and (max-width: 768px) {
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
  }
}

.form {
  width: 30%;
  display: block;
  @media screen and (max-width: 768px) {
    width: 100%;
  }
}

.input {
  margin-top: 15px;
}

.btn {
  margin-top: 40px;
}

.disclaimer {
  display: block;
  margin-top: 20px;
  font-size: 14px;
  line-height: 140%;
  color: #2b2b2b;
  opacity: 0.6;
}

.phone {
  margin-top: 15px;
  :global {
    .flag-dropdown {
      display: none;
    }
    .form-control {
      height: 50px;
      width: 100%;
      display: inline-flex;
      align-items: center;
      border: 1px solid #555555;
      border-radius: 30px;
      padding: 14px 20px;
      color: #2b2b2b;
      font-size: 16px;
      line-height: 20px;
    }
  }
}
