.section {
  padding: 50px 0;
}

.desc {
  margin: 15px 0 0 0;
  display: block;
  font-size: 20px;
  line-height: 120%;
  color: #555555;
}

.link {
  h2 {
    cursor: pointer;
    transition: color 0.1s linear;
    &:hover {
      color: #6f74fc;
    }
  }
}
