.section {
  padding: 50px 0;
  @media screen and (max-width: 768px) {
    padding: 30px 0;
  }
}

.container {
  display: flex;
  flex-direction: column;
}

.h2 {
  @media screen and (max-width: 768px) {
    margin: 0 auto;
    text-align: center;
  }
}

.desc {
  margin: 15px 0 0 0;
  display: block;
  font-size: 20px;
  line-height: 120%;
  color: #555555;
  @media screen and (max-width: 768px) {
    text-align: center;
    margin: 15px auto 0 auto;
    font-size: 14px;
    line-height: 140%;
  }
}

.link {
  h2 {
    cursor: pointer;
    transition: color 0.1s linear;
    &:hover {
      color: #6f74fc;
    }
  }

  @media screen and (max-width: 768px) {
    margin: 0 auto;
  }
}
