.main {
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  @media screen and (max-width: 768px) {
    flex-direction: column;
  }
}

.featureList {
  display: flex;
  flex-direction: column;
  margin: 0 0 0 52px;
  padding: 0;

  @media screen and (max-width: 768px) {
    margin: 20px 0 0 0;
  }
}

.feature {
  margin-top: 30px;
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  color: #2b2b2b;
  &:first-child {
    margin-top: 0;
  }

  @media screen and (max-width: 768px) {
    align-items: center;
    margin-top: 15px;
    font-size: 12px;
    line-height: 140%;
  }
}

.count {
  margin-right: 30px;
  width: 46px;
  font-weight: 500;
  font-size: 36px;
  line-height: 120%;
  color: #6f74fc;
  @media screen and (max-width: 768px) {
    margin-right: 10px;
    width: 25px;
    font-size: 20px;
    line-height: 120%;
  }
}

.firstCount {
  letter-spacing: 4px;
  @media screen and (max-width: 768px) {
    letter-spacing: 2px;
  }
}

.image {
  position: relative;
  display: inline-flex;
  align-items: center;
  width: 371px;
  height: 354px;
  @media screen and (max-width: 768px) {
    width: 135px;
    height: 128px;
  }
}

.cardList {
  margin: 60px 0 0 0;
  padding: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 30px;
  @media screen and (max-width: 768px) {
    grid-template-columns: 1fr;
    row-gap: 15px;
  }
}

.item {
  width: 100%;
}

.link {
  width: 100%;
}

.card {
  width: 100%;
  padding: 30px;
  min-height: 180px;
  transition: background-color 0.1s linear;
  &:hover {
    background-color: #6f74fc;
    .title {
      color: #ffffff;
    }
    .svg {
      fill: #ffffff;
    }
  }

  @media screen and (max-width: 768px) {
    padding: 20px 10px;
    min-height: 116px;
  }
}

.icon {
  margin: 0 auto;
}

.svg {
  fill: #6f74fc;
}

.title {
  text-align: center;
  margin-top: 30px;
  font-weight: 500;
  font-size: 18px;
  line-height: 120%;
  color: #2b2b2b;
  @media screen and (max-width: 768px) {
    font-size: 14px;
    line-height: 120%;
  }
}

.h3 {
  margin: 60px 0 30px 0;
  font-weight: 600;
  font-size: 24px;
  line-height: 120%;
  text-align: center;
  color: #2b2b2b;
  @media screen and (max-width: 768px) {
    margin: 40px 0 20px 0;
    font-size: 16px;
    line-height: 120%;
  }
}

.left {
  z-index: 100;
  position: absolute;
  top: 50%;
  left: -20px;
  transform: translateY(-50%);
}

.right {
  z-index: 100;
  position: absolute;
  top: 50%;
  right: -20px;
  transform: translateY(-50%);
}

.swiper {
  display: block;
  position: relative;
  padding: 10px;
  margin: -10px;
}

.swiperSlide {
  background-color: transparent;
}

.story {
  height: 320px;
  position: relative;
  flex-direction: column;
  padding: 30px 30px 50px 165px;
  background: #ffffff;
  box-shadow: 0px 2px 10px 2px rgba(43, 43, 43, 0.15);
  border-radius: 30px;
  @media screen and (max-width: 768px) {
    padding: 30px 30px 50px 30px;
  }
}

.avatar {
  position: absolute;
  top: 30px;
  left: 30px;
  width: 120px;
  height: 120px;
  right: unset;
  @media screen and (max-width: 768px) {
    width: 60px;
    height: 60px;
    position: relative;
    margin-right: 15px;
    top: unset;
    left: unset;
  }
}

.avatarImage {
  user-select: none;
  position: relative;
  width: 120px;
  height: 120px;
  @media screen and (max-width: 768px) {
    width: 60px;
    height: 60px;
    position: relative;
  }
}

.info {
  display: flex;
  max-width: 650px;
}

.name {
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 120%;
  color: #2b2b2b;
  @media screen and (max-width: 768px) {
    font-size: 12px;
    line-height: 120%;
  }
}

.job {
  display: block;
  margin-top: 10px;
  font-size: 16px;
  line-height: 120%;
  color: #7d7d7e;
  @media screen and (max-width: 768px) {
    font-size: 12px;
    line-height: 120%;
  }
}

.desc {
  width: 60%;
  margin: 20px 0 0 0;
  font-size: 16px;
  line-height: 140%;
  color: #2b2b2b;
  @media screen and (max-width: 768px) {
    font-size: 14px;
    width: 100%;
    line-height: 140%;
  }
}

.btn {
  position: absolute;
  top: 30px;
  right: 30px;
  @media screen and (max-width: 768px) {
    margin-top: 30px;
    top: unset;
    right: unset;
    position: static;
    margin-right: auto;
  }
}
